*{
box-sizing: border-box;
padding:0;
margin:0;
}

body{
  background-color: #fff;
}

.cf:after{
  content: "";
  display:block;
  clear: both;
}

html{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  color: #000;
}

#wrapper{
  width: 100%;
  min-height: 500px;
  background-color: rgba(209, 245, 252,1);
  margin: 0 auto 0 auto;
}

#header {
  height: 150px;
  background:transparent url(img/bg_water.jpg) no-repeat -400px -650px;
  position: relative;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
}


#menu li a{
  text-decoration: none;
  color: #fff;
  text-align: center;
}

#logo{
  position: relative;
}

#nav ul{
margin: 0;
}

#menu li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}

#menu #kontakt{
  float: right;
}

#mainsection{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


#mainsection a{
  text-decoration: none;
  color: #000;
}

#wrapper > h1 > h2{
  text-align: center;
}

#intro{
  display: inline-block;
  text-align: center;
  padding: 20px 20px 20px 20px;
}


.fliesstext{
  font-size: 14px;
  text-align: left;
}

.card{
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  text-align: center;
  padding: 1rem;
  margin: 1em;
  height: auto;
}

.card img{
  width: 33.333333333%;
  height: auto;
  float: left;
  border-radius: 6px;
  padding-top: 10px;
  padding-right: 10px;
}

.card p{
  float: left;
  width: 66.666666667%;
  }

section.div{
  text-align: center;
}

#social-nav ul{
display: flex;
list-style: none;
padding-top: 10px;
}

#social-nav ul li a{
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 20px;
  color: #000;
  }

#footer-nav ul{
  list-style: none;
  padding-top: 10px;
  }

#footer-nav ul li a{
  list-style: none;
  text-decoration: none;
  float: right;
  padding: 10px;
  text-align: center;
  color: #000;
}

#footer{
  height: 40px;
  margin: 0;
  border-radius: 0 0 20px 20px;
  background-color: rgba(0,0,0,.1);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);

}
