*{
box-sizing: border-box;
padding:0;
margin:0;
}

body{
  background-color: rgba(255, 255, 255,1);
}

.cf:after{
  content: "";
  display:block;
  clear: both;
}

html{
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
  color: #000;
}

#wrapper{
  width: 980px;
  min-height: 600px;
  background-color: rgba(2,160,233,.8);
  margin: 20px auto 0 auto;
  margin-top: 0;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

#header {
  height: 120px;
  width: 980px;
  z-index: 90;
  background:transparent url(img/bg_water.jpg) no-repeat -400px -650px;
  position: fixed;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  float: left;
  display: block;

}


#menu li a{
  text-decoration: none;
  color: #fff;

}

#logo{
  position: relative;
}

#nav ul{
  width: 800px;
  margin: 0;
  float: left;

}

#menu li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;

}

#menu #kontakt{
  float: right;
}

#social-nav{
width: 80px;
display: inline-block;
float: right;

}


#social-nav ul{
display: flex;
list-style: none;
padding-right: 10px;
justify-content: space-between;
position: relative;

}

#social-nav ul li a{
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  }

#mainsection{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.625rem;

}

#mainsection a{
  text-decoration: none;
  color: #000;
}

#wrapper > h1 > h2{
  text-align: center;
}

#intro h2{
  margin-bottom: 10px;
}


#intro{
  width: 980px;
  margin-top: 120px;
  display: inline-block;
  text-align: center;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 16px;
  border-top-width: 16px;
  padding-bottom: 32px;
}

.fliesstext{
  font-size: 14px;
  text-align: left;
}

.card{
  width: 800px;
  height: 250px;
  background-color: rgba(255, 255, 255,.8);
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  margin-bottom: 2.5rem;

}

.card img{
  width: 33.333333333%;
  float: left;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);

}

.card h3{
  padding-left: 2rem;
  margin-bottom: 10px;
}


#main_cf{
  height: 800px;
}

#straende{
background:transparent url(img/straende_bg.jpg) no-repeat;
}


.card p{
  float: left;
  width: 66.666666667%;
  padding-left: 2rem;

  }

section.div{
  text-align: center;
}

#footer-nav ul{
  list-style: none;

  }

#footer-nav ul li a{
  list-style: none;
  text-decoration: none;
  float: right;
  padding: 10px;
  font-size: 0.9em;
  color: #000;

}

#footer{
  height: 30px;
  width: 980px;
  margin-top: 2rem;
  border-radius: 0 0 20px 20px;
  background-color: rgba(255, 255, 255,.2);
  bottom: 0;
  display: block;
  padding-left: 90px;
  padding-right: 90px;
}

/*
@media (min-width: 48em) {
  .row{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
  }
  */
