*{
box-sizing: border-box;
padding:0;
margin:0;
}

body{
  background-color: rgba(190, 180, 72, 0.27);
}

.cf:after{
  content: "";
  display:block;
  clear: both;
}

html{
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
  color: #000;
}

#wrapper{
  width: 980px;
  min-height: 600px;
  background-color: rgba(209, 245, 252,.5);
  margin: 20px auto 0 auto;
  margin-top: 0;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

#header {
  height: 120px;
  width: 980px;
  z-index: 90;
  background:transparent url(img/bg_water.jpg) no-repeat -400px -650px;
  position: fixed;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  margin-bottom: 10px;
  float: left;
  display: block;

}


#menu li a{
  text-decoration: none;
  color: #fff;
  text-align: center;
}

#logo{
  position: relative;
}

#nav ul{
  margin: 0;
}

#menu li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;

}

#menu #kontakt{
  float: right;
}

#mainsection{
  display: flex;
  align-items: center;
  justify-content: center;

}

#mainsection a{
  text-decoration: none;
  color: #000;
}

#wrapper > h1 > h2{
  text-align: center;
}

#intro{
  width: 980px;
  margin-top: 120px;
  display: inline-block;
  text-align: center;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  padding-left: 90px;
  padding-right: 90px;

}


.fliesstext{
  font-size: 14px;
  text-align: left;
}

.card{
  width: 800px;
  background-color: rgba(255,255,255,.5);
  border-radius: 6px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  text-align: center;
  padding: 1rem;
  margin: 1em;
  height: auto;

}

.card img{
  width: 33.333333333%;
  height: auto;
  float: left;
  border-radius: 6px;
  padding-top: 10px;
  padding-right: 10px;
}

.card p{
  float: left;
  width: 66.666666667%;
  }

section.div{
  text-align: center;

}

#social-nav ul{
display: flex;
list-style: none;
padding-top: 10px;
}

#social-nav ul li a{
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 20px;
  color: #000;
  }

#footer-nav ul{
  list-style: none;

  }

#footer-nav ul li a{
  list-style: none;
  text-decoration: none;
  float: right;
  padding: 10px;
  text-align: center;
  color: #000;
}

#footer{
  height: 30px;
  width: 980px;
  margin-top: 20px;
  border-radius: 0 0 20px 20px;
  background-color: rgba(255,255,255,.8);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  bottom: 0;
  position: flex;

}
